body{
    background-color: #702c2c;
  padding: 0px;
  margin: 0px;
}

#gradient
{
 width: 100%;
 height: 969px;
 padding: 0px;
 margin: 0px;
}

#titre
{
    font-size:100px ;
    text-align: center;
    text-shadow:#e7f6ff 0 -1px 0,
#a74a0c 1px 1px 0,
#d97f32 2px 2px 0,
#f5993d 3px 3px 0,
#fec362 4px 4px 0,
#ffe687 5px 5px 0,
#333 5px 5px 10px;color:#F30034;
}